<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filmdatabasen - Glemt Adgangskode</title>
</head>
<body style="background-image: url(http://www.humanatriedtokillme.com/_Media/screwed_med_hr.png);background-size: initial;background-repeat: no-repeat;background-position-y: 100px;background-position-x: center;background-color: black">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="margin-left: 45.5%">
    <a th:href="${'/'}"><button style="background-color: goldenrod;width: 150px;height: 35px;color: white;font-family: Bahnschrift,serif;font-size: medium">Unscrew</button></a>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>